@font-face {
  font-family: 'MathJax_Typewriter';
  src:url('../Fonts/MathJax_Typewriter-Regular.otf');
  font-style: normal;
}
body {
  margin: 70px;
  padding: 0;
  font-family: Times, serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6em;
  text-align: left;
  font-size: 100%;
  text-indent: 0.002pt;
  background-color: #F8F4E7;
}
h2, h3, h4, h5, h6 {
  font-family: "source sans pro", sans-serif, "Droid Sans", Helvetica, Arial;
  page-break-after:avoid;
  text-align:left;
  line-height: 1.1;
}
h1 {
  margin-top:15pt;
  margin-bottom:12pt;
  text-align:center;
  font-weight:700;
  page-break-after:avoid
}
h2 {
  margin-top:7pt;
  margin-bottom:25pt;
  font-weight:700;
}
h3 {
  margin-top:9pt;
  margin-bottom:8pt;
  font-weight:700;
}
h4 {
  margin-top:9pt;
  margin-bottom:6pt;
  font-weight:700;
  font-size:110%;
}
h5 {
  margin-top:9pt;
  margin-bottom:6pt;
  font-weight:700;
  font-size:105%;
}
h6 {
  margin-top:9pt;
  margin-bottom:6pt;
  font-weight:700;
  font-size:100%;
}
.ex-title {
  margin-top:9pt;
  margin-bottom:8pt;
  font-weight:700;
  page-break-after:avoid;
  text-align:left
}
.indent {
  margin-top:4pt;
  margin-bottom:4pt;
  text-indent:25pt
}
.noindent {
  margin-top:4pt;
  margin-bottom:4pt;
  text-indent:.002pt
}
.attribution {
  font-family:"Arial Unicode MS";
  src:url(fonts/ARIALUNI.TTF);
  margin-top:3pt;
  margin-bottom:20pt;
  margin-right:25pt;
  text-align:right
}
.blockquote {
  font-family:"Arial Unicode MS";
  src:url(fonts/ARIALUNI.TTF);
  margin-top:20pt;
  margin-bottom:4pt;
  margin-left:200pt;
  text-align:right
}
.roman_italic {
  font-family:"Arial_Italic";
  src:url(fonts/Arial_Italic.ttf);
  font-weight:400;
  font-style:italic
}
div.image img {
  max-width:99%;
  max-height:99%
}
.image {
  margin-top:5pt;
  text-align:center;
  page-break-inside:avoid
}
div.equation img {
  max-width:99%;
  max-height:99%
}
.equation {
  margin-top:4pt;
  margin-bottom:4pt;
  text-align:right
}
.indenthangingNP {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:40pt;
  text-align:left
}
.fig-caption {
  margin-bottom:8pt;
  text-align:center;
  page-break-before:avoid;
  page-break-inside:avoid
}
code {
  font-family: 'MathJax_Typewriter';
  font-size: inherit;
}
.center {
  text-align:center
}
.footnote {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:25pt;
  text-indent:-10pt;
  text-align:left;
  font-size:.88em
}
.uln-indent {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:25pt
}
.heading {
  page-break-inside:avoid
}
.exercises {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:2pt;
  text-indent:15pt;
  text-align:left
}
.exercisesp {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:10pt;
  text-align:left
}
.exercises2 {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:8pt;
  text-indent:-10pt;
  text-align:left
}
.exercises3 {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:12pt;
  text-indent:-15pt;
  text-align:left
}
.exercises1 {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:13pt;
  text-indent:-.5pt;
  text-align:left
}
.indenthangingA {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:35pt;
  text-indent:-13pt;
  text-align:left
}
.indenthanging {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:25pt;
  text-indent:-19pt;
  text-align:left
}
.number {
  margin-top:4pt;
  margin-bottom:4pt;
  text-indent:25pt;
  text-align:left
}
.exercises1N {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:10pt;
  text-indent:15pt;
  text-align:left
}
.indenti {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:30pt;
  text-indent:-12pt;
  text-align:left
}
.indenta {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:30pt;
  text-indent:-13.5pt;
  text-align:left
}
.uln-indentC {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:48pt;
  text-indent:-18.5pt
}
div.image4 img.img1 {
  width:95%;
  height:95%
}
.image4 {
  margin-top:5pt;
  text-align:center;
  page-break-inside:avoid
}
.middle img {
  vertical-align: middle;
}
div.imageL img {
  max-width:99%;
  max-height:99%;
}
.imageL {
  margin-top:5pt;
  text-align:left;
  margin-left:28pt;
}
div.image4 img.img1 {
  width:95%;
  height:95%;
}
.image4 {
  margin-top:5pt;
  text-align:center;
  page-break-inside:avoid;
}
.indenthangingB {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:10pt;
  text-indent:-7.5pt;
  text-align:left;
}
div.image2 img {
  max-width:99%;
  max-height:99%;
}
.image2 {
  margin-top:5pt;
  margin-bottom:30pt;
  text-align:center;
}
.uln-indent1 {
  margin-top:4pt;
  margin-bottom:4pt;
  margin-left:45pt;
}
.left {
  text-align:left;
  margin-left:50pt;
}